<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="css/eventos_css.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  
    <title>EVENTOS_INFANTILES</title>
  </head>

  <body class="fondoinfantiles">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
          <img src="img/nav-tiny.jpeg" width="370px;" height="81px;" alt="" loading="lazy" style="margin: -13px; margin-left: -16px;">
      </a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 550px;">
        <form class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="/eventos">Eventos</a>
          <a class="nav-link" href="#">Artículos</a>
          <div class="dropdown">
              <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 10px;">
                Todos <link rel="shortcut icon" type="image/x-icon" href="/Iconos/chevron-down.svg" />
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Camisas</a>
                <a class="dropdown-item" href="#">Termos</a>
                <a class="dropdown-item" href="#">Invitaciones</a>
                <a class="dropdown-item" href="#">Globos</a>
              </div>
            </div>
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Iniciar Sesión</button>
        </form>
      </div>
  </nav>

  <div class="container" style="background-color:#f3f3f3;">
  <br>
    <p align="center" class="tipletra" style="font-family:'Alesandra'; font-size:50px;" >INFANTILES</p>
    <strong><p align="center">La vida es una fiesta sin fin. En realidad no debe de existir un acontecimiento, puede ser simplemente un día en el que desees reunirte con las personas que estimas para convivir.<br>

    Te ofrecemos una gran variedad de opciones para que ese día sólo te preocupes por pasarla bien.</p></strong>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-2.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Dora la exploradora</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Dora la Exploradora.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso programa de television de Dora para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">40</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</button>
      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</button>
    </div>
    <!--SEPARACION-->
    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-3.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Sonic</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Sonic the Hedgehog</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de videojuegos para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">60</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-4.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Spider-man</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Spider-man.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de marvel para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">50</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-5.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Toy story</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Toy story.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso metraje de Toy story para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">30</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-6.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Mickey mouse</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Mickey mouse.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de Disney para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">30</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-7.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Pocoyo</h3>
        <span>Sorprende a tu hijo con una fiesta tematica del Pocoyo y sus amigos.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de Pocoyo para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">40</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>
    <br>
  </div>
    <!--PiedePagina-->
  <div class="col-md-12">
      <div class="row">
        <div class="container col-md-12">
        
        <div class="piepag" style=" float: left;">
          <h5 style="color:white;"><strong>ACERCA DE:</strong></h5>
          <a href="" style="color:mediumvioletred;">¿Quienes somos?</a><br>
          <a href="" style="color:mediumvioletred;">Aviso de Privacidad</a>
        </div>

        <div class="piepag" style=" margin-left: 80px; float: left;">
          <h5 style="color:white;"><strong>SERVICIOS:</strong></h5>
          <a href="" style="color:mediumvioletred;"><strong>Diseño para Eventos Sociales</strong></a><br>
          <a href="" style="color:mediumvioletred;">Graduaciones</a><br>
          <a href="" style="color:mediumvioletred;">Fiestas Infantiles</a><br>
          <a href="" style="color:mediumvioletred;">Bodas</a><br>
          <a href="" style="color:mediumvioletred;">XV Años</a></div>
        <div class="piepag" style=" margin-left: 80px; float: left;">
            <a href="" style="color:mediumvioletred;"><strong>Venta de Artículos</strong></a><br>
            <a href="" style="color:mediumvioletred;">Invitaciones</a><br>
            <a href="" style="color:mediumvioletred;">Globos</a><br>
            <a href="" style="color:mediumvioletred;">Termos</a><br>
            <a href="" style="color:mediumvioletred;">Camisas</a>
        </div>

        <div class="piepag" style=" margin-left: 80px; float: left;">
          <h5 style="color:white;"><strong>CONTACTANOS:</strong></h5>
          <a href="" style="color:mediumvioletred;"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M22,6V4L14,9L6,4V6L14,11L22,6M22,2A2,2 0 0,1 24,4V16A2,2 0 0,1 22,18H6C4.89,18 4,17.1 4,16V4C4,2.89 4.89,2 6,2H22M2,6V20H20V22H2A2,2 0 0,1 0,20V6H2Z" />
          </svg>tinydesigns07@gmail.com</a><br>
          <a href="" style="color:mediumvioletred;"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" />
          </svg>
          <strong style="color: mediumvioletred;">facebook.com/tinydesignsS</strong></a><br>
          <p href="" style="color:mediumvioletred;"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M16,18H7V4H16M11.5,22A1.5,1.5 0 0,1 10,20.5A1.5,1.5 0 0,1 11.5,19A1.5,1.5 0 0,1 13,20.5A1.5,1.5 0 0,1 11.5,22M15.5,1H7.5A2.5,2.5 0 0,0 5,3.5V20.5A2.5,2.5 0 0,0 7.5,23H15.5A2.5,2.5 0 0,0 18,20.5V3.5A2.5,2.5 0 0,0 15.5,1Z" />
          </svg>
          <strong style="color: mediumvioletred;">(871)596-1588</strong></p>
          <svg style="width:24px;height:24px; color:mediumvioletred;" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
          </svg>
            <strong style="color: mediumvioletred;">Calle Leopoldo Guerra Ote. #8818 </strong><br>
            <strong style="color: mediumvioletred;">La Joya, Torreón, Coah., México.</strong><br>
        </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

  </body>
</html>